apiVersion: v1
baseDomain: {{ base_domain }}
metadata:
  name: {{ cluster_name }}
compute:
  - name: worker
    replicas: 0
controlPlane:
  name: master
  replicas: 1
networking:
  networkType: OVNKubernetes
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  serviceNetwork:
    - 172.30.0.0/16
  machineNetwork:
    - cidr: {{ node.network }}/{{ node.prefix }}
platform:
  none: {}
bootstrapInPlace:
  installationDisk: {{ node.disk }}
pullSecret: '{{ pull_secret | to_json }}'
sshKey: '{{ ssh_public_key }}'
